@use 'utilities/container';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
}

nav, footer {
    width: 800px;
    //padding: 1rem 0;
}

canvas {
    display: block;
    //margin: 0 auto;
}
h1 {
    margin: 0;
    font-size: 3rem;
}
li{
    font-size: 2rem;
    margin-top: 2rem;
}
.Leaderboard-ul {
    list-style: none;

}
